.header {
    background-color: #fff;
    padding:0
}

.logo {
    height: 32px;
    margin: 16px;
    background-color: bisque;
    text-align: center;
}
.crumb {
    line-height: 64px;
    margin-left: 10px;
}
.crumbItem {
    height: 64px !important;
}